In [1]:
import numpy as np
import pandas as pd
import os
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import requests

# Reading and Writing Files

In [2]:
cwd = os.getcwd()
cwd

'c:\\Users\\Nicholas.Kenney\\OneDrive - Ensemble Health Partners\\Desktop\\Progress\\Data Science\\Py_DS_ML_Bootcamp-master\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

## Reading and Writing Files in Csv

In [3]:
df = pd.read_csv('example')
df.to_csv('Csv_Output', index=False) # Writes without a new index.
pd.read_csv('Csv_Output') # check for additional index

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## Reading and Writing Files in Excel

### Reading Files in Excel

In [4]:
input = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')
input

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Writing Files in Excel

In [5]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='Sheet1')

## HTML (Webscraping)

In [20]:
URL = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'



from urllib import request
import ssl

context = ssl._create_unverified_context()
response = request.urlopen(URL, context=context)
html = response.read()

## I needed all the above after the URL variable to fix the SSL Cert issue.
HTML = pd.read_html(html)

In [21]:
HTML[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
...,...,...,...,...,...,...,...
560,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
561,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
562,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
563,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
564,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

_____
_____
# SQL (Optional)